


#yellowp {
    color: rgb(197, 10, 10);
  }


  h3.hcolor {

color :green ;


  }

  ol.C{

color :blue;

  }

#greencolor{


  

  color :green; 
}



  body {
    background-color: rgb(220, 230, 173);
  }




img {
    width: 200px;
    height: 200px;
    position: center;
  
  }

